	body
{ 
  background-color: lightgreen;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
background-repeat:repeat;


	background-image:;
background-attachment:fixed;
}

#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
}

	h1{color:green;}
	p{color:black;font-style:italic;font-family:georgia,garamond,serif;text-indent:12cm;letter-spacing:10px;direction:center;text-decoration:underline;text-shadow:20px 10px 20px blue;}





div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
	img:hover 
 	{ 
  border-radius: 50%;
border:3px dashed green;height:100px;height:50%;opacity:7.4;filter:alpha(opacity=40); 
	#id1{border-style:dotted;}





        p.one{
	      border-style:solid;
	      border-width:2px;
		border-color:red;text-decoration:underline;text-shadow:20px 10px 20px blue;
	     }
	 p.two{
	      border-style:solid;
	      border-width:medium;
	     }




	 p.three{
	      border-style:solid;
	      border-color:red green blue yellow;border-top-style:dotted;border-rght-style:solid;border-bottom-style:dotted;border-left-style:solid;margin:25px 50px 75px 100px;
	     }
	div{
	    width:900px; 	  
 	    margin:auto;
  	    border:1px solid black;padding-top:50px;padding-right:30px;padding-bottom:50px;padding-left:80px;
}
	p.four{
		margin:2cm;
		padding:5px;
		border:dashed green;border-width:medium;}
	 li{ background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}
	 a{display:inline-block;}
	a.one{}
a.two{text-decoration:none;color:green;}
a.three{border-style:solid;
	      border-width:2px;

		border-color:red;text-decoration:none;}
#grad1 {
  background-image: linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,1));}
a.four{border-style:solid;
	      border-width:2px;
		border-color:blue;text-decoration:none;background-color:green;}

div.f {
 width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}




	span.a{
	 display:inline;
	 width:500px; 
	height:300px;
	padding:5px;
 	border:1px solid blue;
 	background-color:yellow;}
	span.b{
	 display: inline-block;
	 width:300px; 
	height:400px;
	padding:50px;
 	border:1px solid blue;
 	background-color:red;}
	span.c{
	 display: block;
	 width:400px; 
	height:300px;
	padding:50px;
 	border:1px solid blue;
 	background-color:blue;}
	span.d{
 	margin:20px;
	 display: block;
	 width:300px; 
	height:50px;
	padding:50px;
 	border:1px solid blue;
 	background-color:red;}
	p::first-line {
  color: #ff0000;
  font-variant: small-caps;}
div.a{
	background-image:url("/home/Sem6B10/0665/CSS/pic.jpg");
	padding:100px;
	border:5px solid white;}
div.b{
	background-color:white;
	padding:60px;
	color:black;
	opacity:0.5}

div.c{
	width:100px;
	height:100px;
	background:red;
	transition:width 2s,height 4s;
	}
div:hover{
	width:300px;
	height:300px;}


div.d{
	width:100px;
	height:100px;
	background:red;
	border-radius:8px;
	transition:width 2s,height 4s,transform 2s;
	}
div.d:hover{
	width:300px;
	height:300px;
	transform:rotate(180deg);}
#grad2 {
  background-image: linear-gradient(to right,orange,green,yellow,blue,indigo,viloet);}
p:first-letter {
  color: #ff0000;
  font-size: xx-large;
}


 /* The animation code */
@keyframes example {
  from {background-color:white;}
  to {background-color: linear-gradient(to right,orange,green,yellow,blue,indigo,viloet);}
}

/* The element to apply the animation to */
div.e {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
} 
p.intro::first-letter {
  color: #ff0000;
  font-size:200%;
}
#grad {
  background-image: radial-gradient(black, white);

h1::befor{
content:url(smiley.gip);
}

h1::after{
content:url(smiley.gip);
}

::selection{
content:url(smiley.gip);
}



img:hover 
 	{border: black;height:100px;height:50%;opacity:10.40;filter:alpha(opacity=50);}
	#id2{border-style:dotted;}


a.one:link{}
a:target {
  border: 2px solid blue;
  background-color: black;
}
a.three:hover{color:green;}
a.four:active{color:yellow}

}
#myDiv {
  -webkit-transform: rotateX(150deg); 
  transform: rotateX(150deg);










